/* SECTION 1 */
.section-1 {
  height: 100vh;
  background: url("../images/hero-v4-1440x960.webp");
  background-size: cover;
  background-position-y: -8rem;
  color: white;
  position: relative;
}

.section-1 .section-content {
  position: absolute;
  top: 23vh;
  margin: 0 10.5rem;
  display: flex;
  flex-direction: column;
}

.section-1 h1 {
  letter-spacing: -0.5px;
  font-size: 2.9rem;
  line-height: 3.5rem;
}
.section-1 p {
  font-size: 1.1rem;
  margin: 1.2rem 0;
  font-weight: 600;
  color: #8ff3c1;
}
.section-1 .btn-container {
  margin: 2rem 0;
}
.section-1 a {
  padding: 0.8rem 1.5rem;
  color: black;
  text-decoration: none;
  font-weight: 600;
  background: var(--btn-primary);
  border-radius: 2rem;
}

/* SECTION 2 */
.section-2 {
  background: black;
  color: white;
  display: flex;
  text-align: right;
  position: relative;
  overflow: hidden;
}

.section-2 .section-content {
  position: absolute;
  top: 44%;
  max-width: 40vw;
  left: 12vw;
  z-index: 1;
  text-align: left;
}

.section-2 h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
  letter-spacing: -2px;
}
.section-2 p {
  font-size: 1.35rem;
  letter-spacing: -1px;
  max-width: 30rem;
}

.section-2 img {
  margin-left: auto;
  width: 70vw;
  object-fit: contain;
  object-position: bottom right;
  transform: translate(4%, -12%) scale(1.275);
}

/* SECTION 3 */
.section-3 {
  position: relative;
  max-width: 100%;
}

.section-3 .medium-img {
  width: 100%;
}
.section-3 .small-img {
  display: none;
}

.section-3 .section-content {
  max-width: 28rem;
  position: absolute;
  top: 35%;
  left: 63%;
  color: var(--purple-2);
}

.section-3 h1 {
  letter-spacing: -2px;
  color: #4f0590;
  font-size: 2.5rem;
  line-height: 3rem;
  width: 25rem;
}
.section-3 p {
  margin-top: 1rem;
  font-size: 1.3rem;
  letter-spacing: -1px;
  font-weight: 400;
}
/* FEATURES */
.features {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin-top: -0.3rem;
}

.features .feature {
  display: flex;
  width: 50%;
  padding: 3.5rem 2.5rem;
  color: white;
}

.features .img-container {
  display: flex;
  justify-content: center;
}

.features .text-container {
  padding-left: 3rem;
  padding-top: 0.2rem;
}
.features .text-container h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.features .text-container p {
  font-weight: 600;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.features .text-container span {
  font-size: 0.8rem;
}

.features .feature:nth-child(1),
.features .feature:nth-child(4),
.features .feature:nth-child(5) {
  background: var(--purple-1);
}
.features .feature:nth-child(2),
.features .feature:nth-child(3),
.features .feature:nth-child(6) {
  background: var(--purple-2);
}

/* SECTION 4 */
.section-4 {
  background: #000;
  color: white;
  position: relative;
  height: 121vh;
}
.section-4 .img-left {
  position: absolute;
  bottom: 0;
  width: 430px;
}
.section-4 .img-top {
  position: absolute;
  top: 0;
  left: 30%;
  width: 385px;
}
.section-4 .img-right {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 46%;
}
.section-4 .text-container {
  position: absolute;
  top: 36%;
  left: auto;
  left: 26%;
  z-index: 1;
  max-width: 420px;
  padding: 40px;
  bottom: 80px;
}
.section-4 h1 {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 3rem;
  margin-bottom: 1.5rem;
}
.section-4 p {
  font-size: 1.28rem;
}
/* SECTION 5 */
.section-5 {
  background-color: #efefef;
  display: flex;
}
.section-5 .section-img {
  max-width: 30rem;
}
.section-5 .section-img > img {
  width: 72%;
  transform: translate(7.9rem, -11.7rem);
}
.section-5 .section-content {
  padding: 5.5rem 5rem;
}

.section-5 h1 {
  color: #3e1165;
  font-weight: 800;
  font-size: 2rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}
.section-5 p {
  max-width: 25rem;
  color: #4f0590;
  font-size: 0.95rem;
  font-weight: 600;
}
.section-5 .section-content a img {
  width: 11rem;
  margin-top: 2rem;
}

.section-5 .android-download-container {
  margin-top: 2rem;
  display: flex;
}
.section-5 .android-download-container > .img-container {
  width: 2rem;
}
.section-5 .android-download-container .img-container > img {
  height: 45%;
  margin-top: 0.3rem;
}
.section-5 .android-download-container .text-container {
  padding-left: 0.6rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: #4f0590;
}
.section-5 .android-download-container .text-container a {
  font-weight: 800;
}

.section-5 .android-download-container .text-container a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.section-6 {
  height: calc(56.25vw);
}

/* RESPONSIVE HOME PAGE */
@media (min-width: 1400px) {
  .features .feature {
    width: 16.66667%;
  }
  .features .feature:nth-child(1),
  .features .feature:nth-child(3),
  .features .feature:nth-child(5) {
    background: var(--purple-1);
  }
  .features .feature:nth-child(2),
  .features .feature:nth-child(4),
  .features .feature:nth-child(6) {
    background: var(--purple-2);
  }
}
@media (max-width: 960px) {
  /* SECTION 1 */
  .section-1 .section-content {
    top: 13.5vh;
    margin: 0 1.6rem;
  }
  .section-1 .section-content h1 {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }
  /* SECTION 3 */
  .section-3 .section-content {
    top: 20%;
    left: 12vw;
  }
  .section-3 .section-content h1 {
    font-size: 2.2rem;
    line-height: 2.3rem;
  }
}

@media (max-width: 992px) {
  /* SECTION 1 */
  .section-1 {
    background: url("../images/hero-v4-1080x1920.webp");
    background-position-y: 50%;
    background-size: cover;
  }
  .section-1 .section-content {
    top: 16.5vh;
  }

  /* SECTION 3 */
  .section-3 .section-content {
    position: absolute;
    width: 24rem;
    top: 20%;
    right: unset;
    left: 80%;
    transform: translate(-50%);
    color: var(--purple-2);
  }
}
@media (max-width: 768px) {
  /* SECTION 1 */
  .section-1 {
    background: url("../images/hero-v4-1440x960.webp");
    background-position-x: 70%;
    background-size: cover;
  }
  /* SECTION 2 */
  .section-2 {
    height: 140vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  .section-2 .section-content {
    max-width: unset;
    position: unset;
    padding: 4rem 2rem;
  }
  .section-2 p {
    font-size: 1.25rem;
    max-width: unset;
  }
  .section-2 img {
    margin: 0 auto;
    object-position: initial;
    transform: translate(-4rem, 0rem) scale(2.4);
  }
  /* SECTION 3 */
  .section-3 {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
  }
  .section-3 .medium-img {
    display: none;
  }
  .section-3 .small-img {
    display: initial;
    width: 100%;
  }
  .section-3 .section-content {
    position: unset;
    padding: 4rem 2.4rem;
    width: unset;
  }
  .section-3 .section-content h1 {
    width: unset;
  }
  .section-3 .section-content p {
    font-size: 1em;
    width: unset;
  }
  /* FEATURES */
  .features .feature {
    width: 100%;
  }
  .features .feature:nth-child(1),
  .features .feature:nth-child(3),
  .features .feature:nth-child(5) {
    background: var(--purple-1);
  }
  .features .feature:nth-child(2),
  .features .feature:nth-child(4),
  .features .feature:nth-child(6) {
    background: var(--purple-2);
  }
  /* SECTION 4 */
  .section-4 {
    overflow: hidden;
  }
  .section-4 .img-left {
    position: absolute;
    width: 430px;
    left: -190px;
    top: 120px;
    bottom: unset;
  }

  .section-4 .img-top {
    position: absolute;
    top: 0;
    left: 50%;
    width: 400px;
  }
  .section-4 .img-right {
    display: none;
  }
  .section-4 .text-container {
    position: absolute;
    bottom: 15%;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    max-width: 420px;
    width: 100%;
    padding: 20px;
    text-shadow: 0 2px 2px #333;
  }
  .section-4 .text-container h1 {
    line-height: 2.6rem;
  }
  .section-4 .text-container p {
    font-size: 1.2rem;
  }
  /* SECTION 5 */
  .section-5 {
    height: 160vh;
    flex-direction: column;
  }
  .section-5 .section-img {
    max-width: 100%;
    align-items: center;
    position: relative;
  }

  .section-5 .section-img > img {
    width: 20rem;
    margin: 0 auto;
    transform: translate(25vw, -12rem);
  }
  .section-5 .section-content {
    width: 25rem;
    padding: 5.5rem 0rem;
  }

  .section-5 .text-content {
    transform: translateY(-18rem) translateX(25vw);
  }

  .section-5 h1 {
    color: #3e1165;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .section-5 p {
    max-width: 25rem;
    color: #4f0590;
    font-size: 0.95rem;
    font-weight: 600;
  }
  .section-5 .section-content a img {
    width: 11rem;
    margin-top: 2rem;
  }
}

@media (max-width: 576px) {
  /* SECTION 2 */
  .section-2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  .section-2 .section-content {
    max-width: 100%;
    position: unset;
    padding: 4rem 2rem;
  }
  .section-2 p {
    font-size: 1rem;
  }
  .section-2 img {
    margin: 0 auto;
    object-position: initial;
    transform: translate(-4rem, -3rem) scale(2.4);
  }
  /* SECTION 3 */
  .section-3 {
    display: flex;
    flex-direction: column;
    background: #f5f5f5;
  }
  .section-3 .medium-img {
    display: none;
  }
  .section-3 .small-img {
    display: initial;
    width: 100%;
  }
  .section-3 .section-content {
    position: unset;
    padding: 4rem 2.4rem;
    width: 100%;
  }
  .section-3 .section-content p {
    font-size: 1em;
  }
  /* FEATURES */
  .features .feature {
    width: 100%;
  }
  .features .feature:nth-child(1),
  .features .feature:nth-child(3),
  .features .feature:nth-child(5) {
    background: var(--purple-1);
  }
  .features .feature:nth-child(2),
  .features .feature:nth-child(4),
  .features .feature:nth-child(6) {
    background: var(--purple-2);
  }
  /* SECTION 4 */
  .section-4 {
    overflow: hidden;
  }
  .section-4 .img-left {
    position: absolute;
    width: 430px;
    left: -190px;
    top: 120px;
    bottom: unset;
  }

  .section-4 .img-top {
    position: absolute;
    top: 0;
    left: 50%;
    width: 400px;
  }
  .section-4 .img-right {
    display: none;
  }
  .section-4 .text-container {
    position: absolute;
    bottom: 10px;
    padding: 40px;
    width: 100%;
    left: 50%;
    max-width: 420px;
    transform: translate(-50%);
    z-index: 1;
    text-shadow: 0 2px 2px #333;
  }
  .section-4 .text-container h1 {
    line-height: 2.6rem;
  }
  .section-4 .text-container p {
    font-size: 1rem;
  }
  /* SECTION 5 */
  .section-5 {
    padding-bottom: 5rem;
    flex-direction: column;
  }
  .section-5 .section-img {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }
  .section-5 .section-img > img {
    max-width: 22rem;
    transform: translate(0, -14rem);
  }
  .section-5 .section-content {
    display: flex;
    justify-content: center;
  }

  .section-5 .text-content {
    max-width: 25rem;
    transform: translateY(-18rem);
  }

  .section-5 h1 {
    color: #3e1165;
    font-weight: 800;
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
  }
  .section-5 p {
    max-width: 25rem;
    color: #4f0590;
    font-size: 0.95rem;
    font-weight: 600;
  }
  .section-5 .section-content a img {
    width: 7rem;
    margin-top: 2rem;
  }
}
