@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --purple-1: #3e1165;
  --purple-2: #430877;
  --purple-3: #5a00aa;
  --btn-primary: #9cf0e1;
}

/* import matter font */
@font-face {
  font-family: Matter;
  src: url(./fonts/matter/Matter-Light.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Matter;
  src: url(./fonts/matter/Matter-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Matter;
  src: url(./fonts/matter/Matter-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Matter;
  src: url(./fonts/matter/Matter-SemiBold.ttf);
  font-weight: 600;
}
@font-face {
  font-family: Matter;
  src: url(./fonts/matter/Matter-Bold.ttf);
  font-weight: 700;
}

body {
  font-family: Matter, "Open Sans", sans-serif;
  font-variant-ligatures: no-contextual;
  overflow-x: hidden;
}

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4.4rem;
  /* background: var(--purple-1); */
  background: transparent;
  padding: 0 2.5rem;
  display: flex;
  align-items: center;
  z-index: 10;
  transition: all 0.6s;
}

.nav-scrolling {
  background: var(--purple-1) !important;
}

.nav-items {
  list-style: none;
  display: flex;
  margin-left: auto;
  margin-top: 0.2rem;
}
.nav-item {
  padding: 0rem 1.6rem;
}

.nav-item a {
  font-size: 1.08rem;
  font-weight: 600;
  text-decoration: none;
  color: white;
  opacity: 0.7;
}
.nav-item a:hover {
  text-decoration: underline;
}

.nav-items .active {
  position: relative;
}
.nav-items .active::after {
  content: "";
  position: absolute;
  display: block;
  top: 1.55rem;
  width: 71%;
  height: 2px;
  background: white;
}
.nav-items .active a {
  opacity: 1 !important;
}

nav .join-now-btn {
  padding: 0.68rem 1.42rem;
  text-decoration: none;
  color: black;
  background: var(--btn-primary);
  border-radius: 2rem;
  font-weight: 600;
}

nav .hidden-btn {
  display: none !important;
}

nav .menu-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 1.2rem;
  height: 1.2rem;
  background: transparent;
  cursor: pointer;
  border: none;
  display: none;
  z-index: 11;
  position: absolute;
  right: 1rem;
}
nav .menu-icon span {
  display: block;
  background: white;
  height: 2px;
  width: 100%;
}

.mobile-nav-items {
  position: fixed;
  top: 3.5rem;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: var(--purple-1);
  transition: all 0.5s;
  z-index: 9;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

.mobile-nav-items .nav-item {
  display: flex;
  width: 100%;
  height: 4rem;
  padding: 1rem auto;
  align-items: center;
  justify-content: center;
  z-index: 9;
}
.mobile-nav-items .nav-item a {
  font-size: 1.2rem;
  opacity: 1;
}
.mobile-nav-items .active {
  position: relative;
}
.mobile-nav-items .active::after {
  content: "";
  position: absolute;
  display: block;
  top: 4rem;
  width: 16%;
  height: 2px;
  background: white;
}

.hidden-mobile-nav {
  top: -30rem;
}
.hidden-nav {
  opacity: 0;
}

/* Navbar for small devices */

@media (max-width: 1200px) {
  nav {
    padding: 1rem;
    height: 3.5rem;
  }
  nav .nav-items {
    display: none !important;
  }
  nav .menu-icon {
    display: flex;
  }
  nav .join-now-btn {
    margin-left: auto;
  }
  nav .join-now-btn {
    font-size: 0.95rem;
    padding: 0.6rem 1.4rem;
    border-radius: 2rem;
    margin-right: 3rem;
  }
}

@media (min-width: 1200px) {
  .mobile-nav-items {
    display: none;
  }
}

/* FOOTER */

footer {
  margin-top: -1rem;
  background: #300b51;
  color: white;
  padding: 3.8rem 4.9rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
}

footer .footer-top {
  display: flex;
  margin-bottom: 5rem;
}

footer .footer-logo {
  flex: 1;
}
footer .footer-container {
  display: flex;
  flex: 5;
}

footer .footer-logo img {
  width: 9rem;
}

footer .footer-links {
  flex: 4;
  display: flex;
  font-size: 0.96rem;
}

footer .footer-column {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding-left: 2.5rem;
}
footer .footer-link {
  margin-bottom: 0.25rem;
}

.footer-social {
  flex: 1;
  padding-left: 8rem;
}
.footer-social-link {
  display: flex;
  padding: 0.3rem 0;
  font-size: 0.95rem;
}
.footer-social-link img {
  margin-right: 0.5rem;
}

.footer-languages {
  display: flex;
  padding-left: 6rem;
  font-size: 0.8rem;
}
.footer-languages span.footer-link {
  font-weight: 600;
  margin-right: 2.3rem;
}
.footer-languages a.footer-link {
  margin-right: 2.3rem;
}
.footer-bottom {
  margin-top: 0.8rem;
  padding-left: 6rem;
  position: relative;
  display: flex;
}
.footer-bottom .footer-link {
  margin-right: 2.3rem;
  font-size: 0.8rem;
}
.footer-bottom span.footer-copyright {
  position: absolute;
  right: 0;
  opacity: 0.5;
  font-size: 0.8rem;
  font-weight: 600;
}

footer a {
  color: white;
  font-weight: 600;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* FOOTER FOR SMALL DEVICES */
@media (max-width: 900px) {
  footer {
    padding: 3.8rem 1rem;
    padding-bottom: 8rem;
  }
  .footer-top {
    flex-direction: column;
  }

  .footer-logo {
    flex: 3;
    margin-bottom: 2rem;
  }

  .footer-social {
    padding-left: 0;
    flex: 1;
  }
  .footer-links,
  .footer-languages,
  .footer-bottom {
    flex-direction: column;
  }
  .footer-bottom,
  .footer-languages {
    padding-left: 2rem;
  }
  .footer-bottom {
    margin-top: 2rem;
  }
  .footer-copyright {
    left: 2rem;
    top: 8rem;
  }
}
